.app{
  h1 {
    text-align: center;
    background: #6225e6;
    padding: 25px 0;
    color: white;
  }
}

.game{
  display: flex;
  flex-direction: row;
  width: 100%;
}

.gameBoard{
  width: 70%;
  border: 1px solid greenyellow;
}

.tools{
  display: flex;
  flex-direction: column;
  width: 30%;
  border: 2px solid grey;
}

.finishGame{
  text-align: center;
  font-size:35px;
}